<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjetc.dao.FdjjrMapper">
  <resultMap id="BaseResultMap" type="com.tjetc.entity.Fdjjr">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="jqmc" jdbcType="VARCHAR" property="jqmc" />
    <result column="kssj" jdbcType="DATE" property="kssj" />
    <result column="jssj" jdbcType="DATE" property="jssj" />
    <result column="lx" jdbcType="VARCHAR" property="lx" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="Long">
    delete from fdjjr
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tjetc.entity.Fdjjr" useGeneratedKeys="true" keyProperty="id">
    insert into fdjjr (jqmc, kssj, jssj,lx)
    values (#{jqmc,jdbcType=VARCHAR}, #{kssj,jdbcType=DATE}, #{jssj,jdbcType=DATE},#{lx,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tjetc.entity.Fdjjr">
    update fdjjr
    set jqmc = #{jqmc,jdbcType=VARCHAR},
      kssj = #{kssj,jdbcType=DATE},
      jssj = #{jssj,jdbcType=DATE},
      lx = #{lx,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, jqmc, kssj, jssj, lx
    from fdjjr
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, jqmc, kssj, jssj, lx
    from fdjjr
  </select>
</mapper>