<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjetc.dao.MemberRoleMapper">
  <resultMap id="BaseResultMap" type="com.tjetc.entity.MemberRole">
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <insert id="insert" parameterType="com.tjetc.entity.MemberRole">
    insert into member_role (member_id, role_id)
    values (#{memberId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select member_id, role_id
    from member_role
  </select>
</mapper>