<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjetc.dao.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.tjetc.entity.RolePermission">
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="permission_id" jdbcType="BIGINT" property="permissionId" />
  </resultMap>
  <insert id="insert" parameterType="com.tjetc.entity.RolePermission">
    insert into role_permission (role_id, permission_id)
    values (#{roleId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, permission_id
    from role_permission
  </select>
</mapper>